<nav class="navbar-chambee d-flex align-items-center justify-content-between px-4">
  <div class="d-flex align-items-center gap-2">
    <img src="assets/LogoChambee.png" alt="Chambee" height="60">
  </div>
</nav>

<div id="modalSaludo" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-body pt-4">
        <img src="assets/abejaEmpresarial.png" alt="saludo" height="200" class="mb-3"/>
        <h4 class="text-success fw-bold">¡Empresa registrada!</h4>
        <p class="mb-0">{{ modalMensajeExito }}</p>
      </div>
      <div class="modal-footer border-0 justify-content-center pb-4">
        <button type="button" class="btn btn-warning px-4" (click)="cerrarModalExito()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalAlerta" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-body pt-4">
        <img src="assets/abejaAlerta.png" alt="alerta" height="200" class="mb-3"/>
        <h5 class="text-danger fw-bold">¡Atención!</h5>
        <p class="mb-0">{{ modalMensaje }}</p>
      </div>
      <div class="modal-footer border-0 justify-content-center pb-4">
        <button type="button" class="btn btn-warning px-4" (click)="cerrarModal()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="page-bg">
  <div class="fondo-registro-card">
    <div class="registro-card">
      <button class="btn-close-custom" type="button" routerLink="/">&#10005;</button>

      <div class="tipo-tabs">
        <button class="tab-postulante" routerLink="/register">Soy Postulante</button>
        <button class="tab-empleador">Soy Empleador</button>
      </div>
      <form #formRef="ngForm">
        <div class="row g-0">
          <div class="col-12 col-md-6 pe-md-3">
            <p class="section-label">Datos Relevantes</p>
            <input type="text" class="form-control-custom" placeholder="Nombre de la Empresa"
              [(ngModel)]="form.nombre_empresa" name="nombre_empresa" required #nombre="ngModel"/>
            <div *ngIf="nombre.invalid && nombre.dirty" class="support-error" style="margin-bottom: 8px;">Nombre inválido</div>

            <input type="email" class="form-control-custom" placeholder="Correo Electrónico"
              [(ngModel)]="form.correo_electronico" name="correo" required email #correo="ngModel"/>
            <div *ngIf="correo.invalid && correo.touched" class="support-error" style="margin-bottom: 8px;">Correo inválido</div>

            <div class="input-with-icon">
              <input [type]="mostrarPassword ? 'text' : 'password'" class="form-control-custom" placeholder="Contraseña"
                [(ngModel)]="form.contrasena" name="password" #pass="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z\d]).{6,}$"/>
              <i class="bi eye-icon" [ngClass]="mostrarPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="mostrarPassword =!mostrarPassword"></i>
              <div *ngIf="pass.errors?.['required'] && pass.dirty" class="support-error" style="margin-bottom: 8px; ">La contraseña es obligatoria</div>
              <div *ngIf="pass.errors?.['pattern'] && pass.touched" class="support-error" style="margin-bottom: 8px; ">La contraseña debe tener al menos 6 caracteres: una minúscula, una mayúscula, un número y un símbolo </div>
            </div>

            <div class="input-with-icon">
              <input [type]="mostrarPassword2 ? 'text' : 'password'" class="form-control-custom" placeholder="Verificar contraseña"
                [(ngModel)]="form.contrasena_verificar" name="password_verificar" #pass2="ngModel" required/>
              <i class="bi eye-icon" [ngClass]="mostrarPassword2 ? 'bi-eye-slash' : 'bi-eye'" (click)="mostrarPassword2 = !mostrarPassword2"></i>
              <div *ngIf="pass2.dirty && form.contrasena !== form.contrasena_verificar" class="support-error" style="margin-bottom: 8px;"> Las contraseñas no coinciden</div>
            </div>

            <input type="tel" class="form-control-custom" placeholder="Teléfono"
              [(ngModel)]="form.telefono" name="telefono" #telefono="ngModel" required pattern="^[0-9]{10}$"/>
            <div *ngIf="telefono.invalid && telefono.touched" class="support-error" style="margin-bottom: 8px;">Telefono inválido</div>

            <textarea class="form-control-custom" placeholder="Descripción de la empresa" rows="3"
              [(ngModel)]="form.descripcion" name="descripcion" required #descripcion="ngModel"></textarea>
            <div *ngIf="descripcion.invalid && descripcion.touched" class="support-error" style="margin-bottom: 8px;">Descripción inválido</div>
          </div>

          <div class="col-12 col-md-6 ps-md-3 mt-3 mt-md-0">
            <p class="section-label">Identificación</p>
            <input type="text" class="form-control-custom" placeholder="RFC Moral"
              [(ngModel)]="form.rfc" name="rfc" #rfc="ngModel" required pattern=".{12}"/>
            <div *ngIf="rfc.invalid && rfc.dirty" class="support-error" style="margin-bottom: 8px;">RFC inválida</div>    

            <p class="dir-label">Dirección Completa</p>
            <input type="text" class="form-control-custom" placeholder="C.P."
              [(ngModel)]="form.codigo_postal" name="cp"
              (blur)="buscarCP()" maxlength="5"/>
            <input type="text" class="form-control-custom" placeholder="Estado"
              [(ngModel)]="form.estado" name="estado" readonly/>
            <input type="text" class="form-control-custom" placeholder="Ciudad"
              [(ngModel)]="form.ciudad" name="ciudad" readonly/>
            <select class="form-control-custom" [(ngModel)]="form.colonia" name="colonia">
              <option value="" disabled selected>{{ buscandoCP ? 'Buscando...' : 'Colonia' }}</option>
              <option *ngFor="let c of colonias" [value]="c">{{c}}</option>
            </select>
            <input type="text" class="form-control-custom" placeholder="Calle"
              [(ngModel)]="form.calle" name="calle" required #calle="ngModel"/>
            <div *ngIf="calle.invalid && calle.dirty" class="support-error" style="margin-bottom: 8px;">Calle inválida</div>    
          </div>

        </div>
        <button class="btn-crear" type="button" (click)="registrar()" [disabled]="formRef.invalid || form.contrasena !== form.contrasena_verificar">Crear Cuenta</button>
      </form>
    </div>
  </div>
</div>