--
-- PostgreSQL database dump
--

\restrict cGjFciqXzcBG8ojDLrJgQFlhOqaToDKccgUQItNi9m86cCjB3yNekUmx8WPntjV

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: empleadores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.empleadores (
    id integer NOT NULL,
    nombre_empresa character varying(150) NOT NULL,
    correo character varying(150) NOT NULL,
    password character varying(255) NOT NULL,
    telefono character varying(20),
    descripcion text,
    rfc character varying(20),
    pais character varying(100),
    estado character varying(100),
    ciudad character varying(100),
    colonia character varying(100),
    calle character varying(150),
    cp character varying(10),
    fecha_registro timestamp without time zone DEFAULT now()
);


ALTER TABLE public.empleadores OWNER TO postgres;

--
-- Name: empleadores_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.empleadores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.empleadores_id_seq OWNER TO postgres;

--
-- Name: empleadores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.empleadores_id_seq OWNED BY public.empleadores.id;


--
-- Name: empleadores id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empleadores ALTER COLUMN id SET DEFAULT nextval('public.empleadores_id_seq'::regclass);


--
-- Data for Name: empleadores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.empleadores (id, nombre_empresa, correo, password, telefono, descripcion, rfc, pais, estado, ciudad, colonia, calle, cp, fecha_registro) FROM stdin;
3	amazon	l.karina@itses.edu.mx	ase	4151253452	es una empresa chida	karinadm	mexico	guanajuato	san miguel de allende 	la talega	las flores	37883	2026-03-12 01:23:53.815608
4	chambee	chambe@gmail.com	chambee	4151253452	Empresa dedicada a dar chamba	chambee265	mexico	guanajuato	san miguel de allende 	mezones	las flores	37883	2026-03-12 01:31:25.541406
\.


--
-- Name: empleadores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.empleadores_id_seq', 4, true);


--
-- Name: empleadores empleadores_correo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empleadores
    ADD CONSTRAINT empleadores_correo_key UNIQUE (correo);


--
-- Name: empleadores empleadores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empleadores
    ADD CONSTRAINT empleadores_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict cGjFciqXzcBG8ojDLrJgQFlhOqaToDKccgUQItNi9m86cCjB3yNekUmx8WPntjV

