<div class="login-page">
  <header class="top-nav">
    <div class="logo-container">
      <img src="assets/LogoChambee.png" alt="Logo" class="nav-logo" routerLink="/">
    </div>
  </header>

  <main class="login-container">
    <div class="login-card">
      <button class="close-btn" routerLink="/login">×</button>
      
      <div class="logo-section">
        <img src="assets/Chambee_login.png" alt="Chambee" class="bee-img">
      </div>

      <p class="instruction-text"><strong>Restablecer contraseña</strong></p>

      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
        <div class="input-group">
          <input type="password" formControlName="password" placeholder="Nueva contraseña:">
        </div>
        <div class="input-group">
          <input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña:">
        </div>

        <button type="submit" class="btn-action">Guardar nueva contraseña</button>
      </form>
    </div>
  </main>
</div>