<!-- MODAL DE ÉXITO -->
<div id="modalSaludo" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-body pt-4">
        <img src="assets/abejaSaludando.png" alt="saludo" height="200" class="mb-3" />
        <h4 class="text-success fw-bold">¡Operación exitosa!</h4>
        <p class="mb-0">{{ modalMensaje }}</p>
      </div>
      <div class="modal-footer border-0 justify-content-center pb-4">
        <button type="button" class="btn btn-warning px-4" (click)="cerrarModalExito()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE ERROR -->
<div id="modalAlerta" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-body pt-4">
        <img src="assets/abejaAlerta.png" alt="alerta" height="200" class="mb-3" />
        <h5 class="text-danger fw-bold">¡Atención!</h5>
        <p class="mb-0">{{ modalMensaje }}</p>
      </div>
      <div class="modal-footer border-0 justify-content-center pb-4">
        <button type="button" class="btn btn-warning px-4" (click)="cerrarModal()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE ERROR EXPIRADA -->
<div id="mostrarModalExpirado" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-body pt-4">
        <img src="assets/AbejaDesconectada.png" alt="alerta" height="200" class="mb-3" />
        <h5 class="text-danger fw-bold">¡Atención!</h5>
        <p class="mb-0">{{ modalMensaje }}</p>
      </div>
      <div class="modal-footer border-0 justify-content-center pb-4">
        <button type="button" class="btn btn-warning px-4" (click)="cerrarModalExpirado()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="page-layout">
  <header class="navbar-chambee">
    <img src="assets/LogoChambee.png" alt="Logo" class="nav-logo" routerLink="/">
  </header>

  <main class="content-container">
    <div class="glass-card">
      <button class="close-icon" type="button" routerLink="/login">×</button>

      <div class="bee-header">
        <img src="assets/Chambee_login.png" alt="Abeja" class="bee-img">
      </div>

      <p class="instruction-text">Restablecer contraseña</p>

      <form [formGroup]="resetForm" class="chambee-form" (ngSubmit)="onReset()">
        <div class="input-with-icon">
          <input [type]="mostrarPassword ? 'text' : 'password'" placeholder="Nueva contraseña:" required
            class="chambee-input" formControlName="password">
          <i class="bi eye-icon" [ngClass]="mostrarPassword ? 'bi-eye-slash' : 'bi-eye'"
            (click)="mostrarPassword =!mostrarPassword"></i>
          <div *ngIf="password?.touched && password?.invalid">

            <div *ngIf="password?.errors?.['required']" class="support-error">
              La contraseña es obligatoria
            </div>

            <div *ngIf="password?.errors?.['minlength']" class="support-error">
              Mínimo 6 caracteres
            </div>

            <div *ngIf="password?.errors?.['pattern']" class="support-error">
              Debe tener mayúscula, minúscula, número y símbolo
            </div>

          </div>


        </div>

        <div class="input-with-icon">

          <input [type]="mostrarPassword2 ? 'text' : 'password'" placeholder="Confirmar contraseña:"
            class="chambee-input" formControlName="confirmPassword" required>

          <i class="bi eye-icon" [ngClass]="mostrarPassword2 ? 'bi-eye-slash' : 'bi-eye'"
            (click)="mostrarPassword2 =!mostrarPassword2"></i>
          <div *ngIf="resetForm.errors?.['mismatch'] && confirmPassword?.touched" class="support-error">
            Las contraseñas no coinciden
          </div>
        </div>
        <div class="actions-stack">
          <button [disabled]="resetForm.invalid" type="submit" class="btn-white">Guardar nueva contraseña</button>
        </div>
      </form>
    </div>
  </main>
</div>