<nav class="navbar-chambee d-flex align-items-center justify-content-between px-4">
  <div class="d-flex align-items-center gap-2">
    <img src="assets/LogoChambee.png" alt="Chambee" height="60">
  </div>
</nav>

<div class="page-bg">
  <div class="fondo-registro-card">
    <div class="registro-card">
      <button class="btn-close-custom" type="button" routerLink="/">&#10005;</button>

      <div class="tipo-tabs">
        <button class="tab-postulante">Soy Postulante</button>
        <button class="tab-empleador" routerLink="/employer-register">Soy Empleador</button>
      </div>

      <div class="row g-0">
        <div class="col-12 col-md-6 pe-md-3">
          <p class="section-label">Datos Personales</p>
          <input type="text" class="form-control-custom" placeholder="Nombre (s)"
            [(ngModel)]="form.nombre" name="nombre"/>
          <input type="text" class="form-control-custom" placeholder="Apellido Paterno"
            [(ngModel)]="form.apellido_paterno" name="apellido_paterno"/>
          <input type="text" class="form-control-custom" placeholder="Apellido Materno"
            [(ngModel)]="form.apellido_materno" name="apellido_materno"/>
            <p class="section-label">Fecha de nacimiento</p>
          <input type="date" class="form-control-custom" placeholder="Fecha de nacimiento"
            [(ngModel)]="form.fecha_nacimiento" name="fecha_nacimiento"/>
          <input type="email" class="form-control-custom" placeholder="Correo Electrónico"
            [(ngModel)]="form.correo_electronico" name="correo_electronico"/>
         <select class="form-control-custom" [(ngModel)]="form.sexo" name="sexo">
        <option value="" disabled selected>Sexo</option>
        <option value="Masculino">Masculino</option>
         <option value="Femenino">Femenino</option>
            </select>
          <div class="input-with-icon">
            <input type="password" class="form-control-custom" placeholder="Contraseña"
              [(ngModel)]="form.contrasena" name="contrasena"/>
            <i class="bi bi-eye eye-icon"></i>
          </div>
          <div class="input-with-icon">
            <input type="password" class="form-control-custom" placeholder="Verificar contraseña"
              [(ngModel)]="form.contrasena_verificar" name="contrasena_verificar"/>
            <i class="bi bi-eye eye-icon"></i>
          </div>
        </div>

        <div class="col-12 col-md-6 ps-md-3 mt-3 mt-md-0">
          <p class="section-label">Identificación</p>
          <input type="text" class="form-control-custom" placeholder="RFC"
            [(ngModel)]="form.rfc" name="rfc"/>
          <input type="text" class="form-control-custom" placeholder="CURP"
            [(ngModel)]="form.curp" name="curp"/>
          <p class="dir-label">Dirección Completa</p>
          <input type="text" class="form-control-custom" placeholder="País"
            [(ngModel)]="form.pais" name="pais"/>
          <input type="text" class="form-control-custom" placeholder="Estado"
            [(ngModel)]="form.estado" name="estado"/>
          <input type="text" class="form-control-custom" placeholder="Ciudad"
            [(ngModel)]="form.ciudad" name="ciudad"/>
          <input type="text" class="form-control-custom" placeholder="Colonia"
            [(ngModel)]="form.colonia" name="colonia"/>
          <input type="text" class="form-control-custom" placeholder="Calle"
            [(ngModel)]="form.calle" name="calle"/>
          <input type="text" class="form-control-custom" placeholder="C.P."
            [(ngModel)]="form.codigo_postal" name="codigo_postal"/>
        </div>
      </div>

      <button class="btn-crear" type="button" (click)="registrar()">Crear Cuenta</button>

    </div>
  </div>
</div>