<nav class="navbar-chambee d-flex align-items-center justify-content-between px-4">
  <div class="d-flex align-items-center gap-2">
    <img src="assets/LogoChambee.png" alt="Chambee" height="60">
  </div>
</nav>

<div class="page-bg">
  <div class="fondo-registro-card">
    
    <div class="registro-card">
            <button class="btn-close-custom" type="button"  routerLink="/">&#10005;</button>


      <div class="tipo-tabs">
        <button class="tab-postulante">Soy Postulante</button>
        <button class="tab-empleador"  routerLink="/employer-register">Soy Empleador</button>
      </div>

      <div class="row g-0">
        <div class="col-12 col-md-6 pe-md-3">
          <p class="section-label">Datos Personales</p>

          <input type="text" class="form-control-custom" placeholder="Nombre (s)"/>
          <input type="text" class="form-control-custom" placeholder="Apellido (s)"/>
           <input type="Date " class="form-control-custom" placeholder="Fecha de nacimiento"/>
          <input type="email" class="form-control-custom" placeholder="Correo Electronico"/>

          <div class="input-with-icon">
            <input type="password" class="form-control-custom" placeholder="Contraseña"/>
            <i class="bi bi-eye eye-icon"></i>
          </div>

          <div class="input-with-icon">
            <input type="password" class="form-control-custom" placeholder="Verificar contraseña"/>
            <i class="bi bi-eye eye-icon"></i>
          </div>
        </div>

        <div class="col-12 col-md-6 ps-md-3 mt-3 mt-md-0">
          <p class="section-label">Identificación</p>
          <input type="text" class="form-control-custom" placeholder="RFC "/>
            <input type="text" class="form-control-custom" placeholder="Curp "/>


          <p class="dir-label">Dirección Completa</p>
          <input type="text" class="form-control-custom" placeholder="País"/>
          <input type="text" class="form-control-custom" placeholder="Estado"/>
          <input type="text" class="form-control-custom" placeholder="C. P"/>
        </div>
      </div>

      <button class="btn-crear" type="button">Crear Cuenta</button>
    </div>
  </div>
</div>