<div class="page-layout">
  <header class="navbar-chambee">
    <img src="assets/LogoChambee.png" alt="Logo" class="nav-logo" routerLink="/">
  </header>

  <main class="content-container">
    <div class="glass-card">
      <button class="close-icon" type="button" routerLink="/login">×</button>
      
      <div class="bee-header">
        <img src="assets/Chambee_login.png" alt="Abeja" class="bee-img">
      </div>

      <p class="instruction-text">Ingresa tu correo electrónico para recuperarla</p>

      <form class="chambee-form">
        <input type="email" placeholder="Correo" class="chambee-input">
        
        <div class="actions-stack">
          <button type="submit" class="btn-white">Enviar enlace de recuperación</button>
          <button type="button" class="btn-link" routerLink="/login">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </main>
</div>