
<div #mapa class="mapa"></div>

<div class="coordenadas">

  <p>
    <strong>Latitud:</strong>
    {{ latitud }}
  </p>

  <p>
    <strong>Longitud:</strong>
    {{ longitud }}
  </p>

  <p>
    <strong>Dirección completa:</strong>
    {{ direccionCompleta }}
  </p>

  <p>
    <strong>Calle:</strong>
    {{ calle }}
  </p>

  <p>
    <strong>Número exterior:</strong>
    {{ numeroExterior }}
  </p>

  <p>
    <strong>Colonia:</strong>
    {{ colonia }}
  </p>

  <p>
    <strong>Ciudad:</strong>
    {{ ciudad }}
  </p>

  

  <p>
    <strong>Estado:</strong>
    {{ estado }}
  </p>

  <p>
    <strong>Código postal:</strong>
    {{ codigoPostal }}
  </p>

  <p>
    <strong>País:</strong>
    {{ pais }}
  </p>

</div>
